{% trans_default_domain 'tools' %}

{% extends 'pdf/partials/base.html.twig' %}

{% block content %}
    <main class="container">
        <div class="section -detail">
            <div class="row">
                <div class="rowCell -s">
                    <p class="text">Berater:</p>
                </div>
                <div class="rowCell -xl -underlined">
                    <p class="text -pl-xs">{{ providedBy.name }}</p>
                </div>
            </div>
            <div class="row">
                <div class="rowCell -s">
                    <p class="text">Auftraggeber:</p>
                </div>
                <div class="rowCell -xl -underlined">
                    <p class="text -pl-xs">{{ billedTo }}</p>
                </div>
            </div>
            <div class="row">
                <div class="rowCell -s">
                    <p class="text">Zeitraum (von - bis):</p>
                </div>
                <div class="rowCell -xl -underlined">
                    <p class="text -pl-xs">{{ startDate|to_date }} - {{ endDate|to_date }}</p>
                </div>
            </div>
        </div>

        <div class="section -timesheet">
            <h2>Tätigkeiten</h2>
            <table class="table -detail -four">
                <thead>
                <tr class="table-row">
                    <th class="table-cell">
                        <p class="title">Datum</p>
                    </th>
                    <th class="table-cell">
                        <p class="title">Tätigkeit</p>
                    </th>
                    <th class="table-cell -center">
                        <p class="title">Gearbeitete Stunden</p>
                    </th>
                    <th class="table-cell -center">
                        <p class="title">Summe</p>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for list in listOfTasks.listsOfTasksInDays %}
                    {% for task in list.tasks %}
                        <tr class="table-row">
                            <td class="table-cell">
                                <p class="text -xl">{{ task.group|to_date }}</p>
                            </td>
                            <td class="table-cell">
                                <p class="text">{{ task.description }}</p>
                            </td>
                            <td class="table-cell -center">
                                <p class="text">{{ task.duration|sec_to_hour_and_minute }}</p>
                            </td>
                            {% if loop.last %}
                                <td class="table-cell -center">{{ list.duration|sec_to_hour_and_minute }}</td>
                            {% else %}
                                <td class="table-cell -center"></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
                <tfoot class="table-footer">
                <tr class="table-row">
                    <td class="table-cell"></td>
                    <td class="table-cell"></td>
                    <td class="table-cell -end">
                        <p class="text">{{ 'label.monthlyHours'|trans }}</p>
                    </td>
                    <td class="table-cell -center">
                        <p class="text">{{ listOfTasks.totalDuration|sec_to_hour }}</p>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>

        <div class="section -approval">
            <p class="text -decorated">
                <span>Genehmigt von:</span>
                <span class="underlined -xl">{{ approvedBy.name }}</span>
                <span>Datum:</span>
                <span class="underlined">{{ approvedAt|to_date }}</span>
            </p>
        </div>

    </main>
{% endblock %}
